<hr style="border:5px solid #108999"> </hr>

# Must Know Python Tools <hr style="border:4.5px solid #108999"> </hr>

## Iterating Over Range Objects, <br><br> Nested For Loops - Introduction, <br><br> Triple Nested For Loops

Create a 'range' object with a stop value of 10. 
Do this operation twice - once without indicating a start value, and then by indicating the start value of 0.

Turn this 'range' object into a list of values.

Obtain all integers from 0 to 9 again, this time using a for-loop with a range() function. Let Python display the values in the output vertically.

Repeat the same task, this time printing the values from the output on the same line.

Create a nested loop that delivers all possible combinations of the elements from the following two lists in the form of lists:

In [ ]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]

Consider the following list with data, which is our third for this exercise. It represents the possible quantities in which the relevant items can be put on sale.

In [ ]:
quantities = [1000, 1500, 1300]

Create a triple nested loop that shows the potential revenue generated from each chair type. Use iterator variables with more meaningful names than letters such as i, j, k.
<br>Present two versions of the nested loop. Let the first one return a Python list where the chair type is the first element, while the potential revenue is the second element. 
<br>Then, let the second loop return a more presentable output, where the quantity and potential revenue have been explicitly stated.

## List Comprehensions

Execute the code cell below to create the following three lists: **products_on_sale**, **sale_prices**, **quantities**

In [ ]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]

The following code cell will execute a nested loop that will deliver all possible combinations of the elements from the **products_on_sale**, **sale_prices** and **quantities** lists:

In [ ]:
for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            print ([chair_type, price*quantity])

Use a list comprehension to obtain the same output. Store it in a variable called **sales_revenue**. <br/>
Make sure you refrain from obtaining any inexistent "None" values.

**List comprehensions with Conditionals**
<br> <br> **Conditional on the iterable**

Use a list comprehension to return a list with all even numbers between 1 and 10 inclusive, multiplied by 10.

We consider the previous answer as the Pythonic way to obtain the output because it involved the use of a list comprehension.
Can you think of a way to obtain identical output in the "Non-Pythonic" way, i.e. by using a double nested loop?

**Conditional on the output**

Return a list that contains the element from range(1, 11) multiplied by 10 if the number is even, and "None" if that number is odd.

## Anonymous Functions

Define a function called **multiply_by_10** that will return a value ten times bigger than the argument.

Apply **multiply_by_10** to the argument of 5. Clearly, you should obtain 50.

#### Lambda Functions

This time, create **multiply_by_10** as a Lambda funciton. Execute it with an argument of 7.

Define a Lambda function named **product_xy** that returns the product of two parameters, x and y. Execute it with arguments 4 and 20.

Create a Lambda function that returns the output of the following mathematical expression. Execute it with an argument of 13.